In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('frToEng.csv')

In [4]:
df.head()

  French English
0     je       I
1     de      of
2    est      is
3    pas     not
4     le     the

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199 entries, 0 to 198
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   French   199 non-null    object
 1   English  199 non-null    object
dtypes: object(2)
memory usage: 3.2+ KB

In [6]:
df

      French  English
0         je        I
1         de       of
2        est       is
3        pas      not
4         le      the
..       ...      ...
194     peur     fear
195   arrive  arrived
196     seul    Alone
197     vite  quickly
198  prendre     take

[199 rows x 2 columns]

In [7]:
def is_ascii(s):
    return all(ord(c) < 128 for c in s)

In [10]:
df.applymap(is_ascii).sum()

French     181
English    199
dtype: int64

In [15]:
tr = df.applymap(is_ascii)
tr1 = tr.iloc[:,0] == tr.iloc[:,1]

In [20]:
tr1 = (tr.iloc[:,0] == tr.iloc[:,1])

In [25]:
df = df[tr1]

In [24]:
df.to_csv('frToEng-Updated.csv')